body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.dark-theme {
    background-color: #1c1c1c;
    color: #fff;
}

header {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 100px 0;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.button {
    display: inline-block;
    background-color: #005ec2;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #013a78;
}

.features {
    padding: 50px 0;
    text-align: center;
}

.feature {
    max-width: 800px;
    margin: 0 auto 30px;
}

.feature h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.feature p {
    font-size: 16px;
}

.download {
    text-align: center;
    padding: 100px 0;
    background-color: #007bff;
}

.download h2 {
    color: #fff;
    font-size: 36px;
    margin-bottom: 30px;
}

.footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer p {
    margin: 0;
}

.footer a {
    color: #fff;
    text-decoration: none;
}


.image-gallery {
    padding: 20px;
    text-align: center;

}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.gallery-image {
    max-width: 48%; /* Adjust for side-by-side layout */
    height: auto;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .gallery-image {
        max-width: 100%; /* Stacked layout on mobile */
    }
}